<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/bootstrap.css">
  <link rel="stylesheet" href="/static/css/app.css">
  <title>Document</title>
</head>

<body class="h-100 bg-dark text-white">
  <div class="d-flex flex-column align-items-center justify-content-center h-100">
    <form action="" method="post">
      <p>Are you sure you want to log out?</p>
      {% csrf_token %}

      <a href="/" class="btn btn-secondary">
        Go home
      </a>
      <button type="submit" class="btn btn-danger">
        Logout
      </button>
    </form>
  </div>
</body>

</html>