<script>

    if (window.location.protocol === 'https:') {
        const websocket = new WebSocket(
            `wss://${window.location.host}${window.location.pathname}`
        );
    } else {
        const websocket = new WebSocket(
            `ws://${window.location.host}${window.location.pathname}`
        );
    }

    websocket.onopen = function (e) {
        console.log('connected');
    };

    websocket.onmessage = function (e) {
        console.log('message', e);
        let data = JSON.parse(e.data);
        msg_id = data.html_id;
        updateChatList(msg_id);
    };

    const updateChatList = async function (msg_id) {
        const me = document.getElementById('me').innerText;
        const chat_list = document.querySelector('.chat-list .container');
        let res = await fetch(`/chat/api/${me}`);
        let data = await res.json();
        console.log(data);
        chat_list.innerHTML = '';

        data.forEach((chat) => {
            console.log(chat);
            let a = document.createElement('a');
            a.setAttribute('id', chat.chat_id);
            a.classList.add('chat-link');
            if (chat.type === 'personal') {
                a.setAttribute('href', `/chat/${chat.username}`);
                a.innerHTML = `
                        <div class="chat">
                            <div>
                                <img src=${chat.image_url}>
                            </div>

                            <div>
                                <h5>${chat.first_name} ${chat.last_name}</h5>
                                <p>${chat.last_message}</p>
                            </div>
                        </div>

                        `;
            } else {
                a.setAttribute('href', `/chat/groups/${chat.i_d}`);
                a.innerHTML = `
                            <div class="chat">
                                <div>
                                    <img src=${chat.image_url}>
                                </div>

                                <div>
                                    <h5>${chat.name}</h5>
                                    <p>${chat.last_message}</p>
                                </div>
                                
                            </div>
                        `;
            }

            if (!chat.unread && chat.sender !== me) {
                let div = document.createElement('div');
                div.classList.add('unread-count');
                //div.innerText = ''
                console.log(a.firstElementChild);
                a.firstElementChild.append(div);
            }
            chat_list.appendChild(a);
        });
    };
</script>