<script>
  let websocket;
  if (window.location.protocol === 'https:') {
    websocket = new WebSocket(
      `wss://${window.location.host}${window.location.pathname}`
    );
  } else {
    websocket = new WebSocket(
      `ws://${window.location.host}${window.location.pathname}`
    );
  }

  websocket.onopen = function (e) {
    console.log('connected');
  };

  websocket.onmessage = function (e) {
    console.log('message', e);
    let data = JSON.parse(e.data);
    msg_id = data.html_id;
    updateChatList(msg_id);
  };
</script>