<script>
    const chat_list = document.querySelector('.chat-list');
    const search_bar = document.getElementById('search');
    const chats = document.querySelectorAll('.chat-link');

    console.log(chats);
    search_bar.addEventListener('input', (e) => {
        let query = e.target.value.toLowerCase()

        chats.forEach((chat) => {
            let chat_name = chat.firstElementChild.children[1].firstElementChild.innerText.toLowerCase()
            if (chat_name.includes(query)) {

                chat.classList.remove('d-none')
            } else {
                chat.classList.add('d-none')
            }
        });
    });
</script>