<script>
  const closeSearch = document.getElementById('close-search');
  const search = document.getElementById('search');
  const searchIcon = document.getElementById('search-icon');
  const chatHeading = document.getElementById('chats');

  searchIcon.addEventListener('click', () => {
    searchIcon.classList.add('d-none');
    chatHeading.classList.add('d-none');
    search.classList.remove('d-none');
    closeSearch.classList.remove('d-none');
  });

  closeSearch.addEventListener('click', () => {
    searchIcon.classList.remove('d-none');
    chatHeading.classList.remove('d-none');
    search.classList.add('d-none');
    closeSearch.classList.add('d-none');

    chats.forEach((chat) => {
      chat.classList.remove('d-none')
    });
  });
  const form = document.getElementById('form');
</script>